<h2>{{title}}</h2>
<p>
  New hero:
  <input id="name" type="text" #box
  (keyup.enter)="addJob(box.value, country); box.value=''"
  placeholder="job title"
  [(ngModel)]="name">

  
  <input id="country" type="text" #box
  placeholder="job country"
  [(ngModel)]="country">

  <button (click)="addJob(name, country)">Add Job</button>
  </p>

  <p>
  <input id="mutate" type="checkbox" [(ngModel)]="mutate">Mutate array

  <button (click)="reset()">Reset</button>
  </p>

<hr>

<hr>
  
  <h4>Jobs by city (piped)</h4>
  <div id="countrylist">

    <input id="countrysearch" type="text" #box 
    placeholder="country"
    [(ngModel)]="countrysearch">

    <div *ngFor="let job of (jobs | jobsfilter:countrysearch)">
      {{job.name}}
    </div>
  </div>
  
  <h4>All Jobs (no pipe)</h4>
  <div id="all">
    <div *ngFor="let job of jobs">
      {{job.name}}
    </div>
  </div>